.holidays-widget {
  position: relative;
  display: flex;
  min-height: 200px;
  width: calc(55% - 10px);
  padding: 15px;
  background: linear-gradient(135deg,
      rgba(darken($grey, 20), 0.6) 33%,
      rgba(darken($sky-blue, 55), 0.8) 100%);
  border-radius: 30px;

  @media (max-width: 640px) {
    width: 100%;
    order: 0;
    padding: 10px;
    border-radius: 15px;
  }

  .widget-error {
    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
      transition: 0.5s;
    }
  }

  .holidays-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;

    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
      transition: 0.5s;
    }

    @media (max-width: 640px) {
      gap: 10px;
    }
  }
}