@import "../../assets/styles/vars";

.weather-info-item {
  position: relative;

  .preloader {
    background-color: $dark-blue;
  }

  .request-error-banner {
    background-color: $dark-blue;

    .text {
      background-color: rgba($color: white, $alpha: 0.2);
    }
  }
}
