.tasks-welcome-banner {
  height: 100%;
  flex-grow: 1;
  display: flex;
  background-color: $black;
  align-items: center;
  overflow: hidden;

  &.add-task-input-active {
    align-items: flex-end;
  }

  &.appear .container {
    opacity: 0;
    transform: translateX(-100%);
  }

  &.appear-active .container {
    opacity: 1;
    transform: translateX(0);
    transform-origin: left;
    transition: 0.3s;
  }

  &.enter {
    opacity: 0;
    transform: translateX(100%);
  }

  &.enter-active {
    opacity: 1;
    transform: translateX(0);
    transform-origin: right;
    transition: 0.3s;
  }

  &.exit {
    opacity: 1;
    transform: translateX(0);
  }

  &.exit-active {
    opacity: 0;
    transform: translateX(100%);
    transform-origin: right;
    transition: 0.15s;
  }

  .container {
    max-height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text {
    color: white;
    font-size: 24px;
    background-color: $grey;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    overflow: auto;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
      font-size: 20px;
    }

    span {
      width: 100%;
      word-wrap: break-word;
      overflow: auto;
      max-height: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .animated-arrow-down {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transition-property: -webkit-transform;
      transition-duration: 1s;
      -moz-transition-property: -moz-transform;
      -moz-transition-duration: 1s;
      animation-name: pulse;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      color: white;
      font-size: 70px;
    }

    @keyframes pulse {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }

      50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
