@import "../../assets/styles/vars";

.weather-widget {
  display: flex;
  flex-direction: column;
  width: calc(45% - 15px);
  padding: 15px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  text-decoration: none;
  background-color: rgba(darken($sky-blue, 55), 0.5);

  @media (max-width: 640px) {
    width: calc(50% - 5px);
    order: 1;
    padding: 10px;
    border-radius: 15px;
  }

  .widget-error-wrapper {
    display: flex;
    flex: 1;

    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
      transition: 0.5s;
    }

    &.exit {
      opacity: 1;
    }

    &.exit-active {
      opacity: 0;
      transition: 0.5s;
    }
  }

  .info-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    z-index: 1;

    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
      transition: 0.5s;
    }

    &.exit {
      opacity: 1;
    }

    &.exit-active {
      opacity: 0;
      transition: 0.5s;
    }

    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      transform: translate(-50%, -50%);
      z-index: -1;
      background-color: rgba(darken($sky-blue, 55), 0.5);
    }

    .background {
      position: absolute;
      object-fit: cover;
      object-position: center;
      z-index: -2;
      border-radius: 30px;
      width: calc(100% + 30px);
      height: calc(100% + 30px);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;

      @media (max-width: 640px) {
        border-radius: 15px;
      }
    }
  }

  .info {
    padding: 30px 15px;
    border-radius: 30px;
    background-color: rgba($white, 0.08);
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 640px) {
      padding: 10px;
      border-radius: 15px;
    }

    .city {
      color: $white;
      font-size: 30px;
      margin-bottom: 15px;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 28px;
      }

      @media (max-width: 640px) {
        font-size: 24px;
        margin-bottom: 10px;
      }

      @media (max-width: 390px) {
        font-size: 18px;
      }
    }

    .current-temp {
      color: $white;
      font-size: 70px;

      @media (max-width: 1024px) {
        font-size: 50px;
      }

      @media (max-width: 640px) {
        font-size: 40px;
      }

      @media (max-width: 390px) {
        font-size: 30px;
      }
    }

    img {
      width: 130px;
      margin-bottom: 10px;

      @media (max-width: 640px) {
        width: 90px;
      }
    }

    .current-date {
      font-size: 20px;
      color: white;
      display: flex;
      align-items: center;
      text-align: center;

      @media (max-width: 640px) {
        font-size: 16px;
      }

      @media (max-width: 390px) {
        font-size: 14px;
      }
    }
  }
}
