@import "../../assets/styles/vars";

.jokes-widget {
  display: flex;
  flex-direction: column;
  width: calc(45% - 15px);
  padding: 15px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  background-color: rgba($grey, 0.9);

  @media (max-width: 640px) {
    width: 100%;
  }

  .inner-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    .joke-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        color: $white;
        font-size: 30px;
        text-align: center;
        margin-bottom: 15px;

        @media (max-width: 1024px) {
          font-size: 28px;
        }

        @media (max-width: 640px) {
          font-size: 24px;
        }

        @media (max-width: 390px) {
          font-size: 22px;
        }
      }
    }

    a {
      color: $sky-blue;
      text-decoration: none;
      font-size: 20px;
      text-align: center;

      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }
  }
}
