.tasks-main {
  flex: 1;
  overflow: auto;
  background-color: $black;

  &.add-tasks-input-active {
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    .tasks-list {
      width: 100%;
    }

    ul {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .tasks-list {
    overflow: hidden;
  }
}