@import "../../assets/styles/vars";

.weather-header {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 10;
  width: 100%;
  background-color: transparent;
  transition: 0.3s;
  position: fixed;

  &.active {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $grey;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .current-city {
    color: white;
    font-size: 24px;

    @media (max-width: 1024px) {
      font-size: 20px;
    }

    svg {
      margin-left: 10px;

      @media (max-width: 1024px) {
        margin-left: 6px;
      }
    }
  }

  .settings {
    cursor: pointer;
    margin-left: auto;

    svg {
      font-size: 30px;
      color: white;

      @media (max-width: 640px) {
        font-size: 24px;
      }
    }
  }
}
