@import "../../assets/styles/vars";

.weather-settings {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: $black;
  overflow: overlay;

  &.enter {
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
    transition: 0.15s;
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    opacity: 0;
    transition: 0.15s;
  }

  .settings-container {
    display: flex;
    flex-direction: column;
  }

  .close-button {
    align-self: flex-start;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    svg {
      margin-right: 10px;
      font-size: 30px;
    }
  }
}
