// Import fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Fonts
$main-font: "Roboto", sans-serif;

// Colors
$green: #048a81;
$lilac: #bda0bc;
$grey: #2c2933;
$blue: #daf5ff;
$sky-blue: #69ddff;
$dark-blue: darken($blue, 80);
$white: #ffffff;
$black: #1a1a1a;
