@import "./vars";

// Default CSS
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  min-width: 320px;
  font-family: $main-font;
  background-color: $grey;
}

.container {
  max-width: 1230px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @media (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.screen {
  flex: 1;
  padding-bottom: 64px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.enter {
    opacity: 0;
  }

  &.enter-active {
    opacity: 1;
    transition: 0.3s;
  }

  &.exit {
    opacity: 1;
  }

  &.exit-active {
    opacity: 0;
    transition: 0.3s;
  }

  @media (max-width: 1024px) {
    padding-bottom: 62px;
  }

  @media (max-width: 640px) {
    padding-bottom: 68px;
  }

  @media (max-width: 375px) {
    padding-bottom: 60px;
  }

  @media (max-width: 320px) {
    padding-bottom: 50px;
  }
}

button {
  cursor: pointer;
  background-color: transparent;
}
