@import "../../assets/styles/vars";

.weather-main {
  flex: 1;
  overflow: hidden;
  display: flex;
  background-color: $black;

  .weather-info-list {
    flex: 1;
    overflow: hidden;
    display: flex;
  }
}
