@import "../../assets/styles/vars";

.jokes-results {
  position: relative;
  display: flex;
  flex-direction: column;

  &.preloader-active {
    min-height: 200px;
  }

  .text-banner {
    .container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;

      @media (max-width: 1024px) {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }

  .jokes-list {
    height: 210px;
    background-color: $white;

    &.enter {
      opacity: 0;
    }

    &.enter-active {
      opacity: 1;
      transition: 0.3s;
    }

    &.exit {
      opacity: 1;
    }

    &.exit-active {
      opacity: 0;
      transition: 0.3s;
    }
  }
}
